<!doctype html>
<html lang="zxx">
{% load static %}

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Cleanfreshly a Home Maintenance & Service Category Bootstrap Responsive Web Template | Services :: W3layouts
	</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style-starter.css'%}">
	<link rel="stylesheet" href="{% static 'assets/css/reviewstyle.css'%}" type="text/css" media="all" />
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,400i,500,600,700&display=swap"
		rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->
	<style>
    .review-box {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 20px;
        width: 500px;
    }
    .review-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .review-content {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .reviewer {
        font-style: italic;
        font-size: 14px;
    }
</style>
</head>

<body>
	<!--w3l-header-->
	<section class="w3l-top-header-content">
		<div class="hny-top-menu">
			<div class="container">
				<div class="row">
					<ul class="accounts col-sm-8">
						<li class="top_li"><span class="fa fa-clock-o"></span> <a href="#">Monday - Friday: 10:00 -
								18:00</a>
						</li>
						<li class="top_li mr-lg-0"><span class="fa fa-envelope-o"></span> <a
								href="mailto:mail@company.com" class="mail"> cleanfreshly10@gmail.com</a>

						</li>
						<li class="top_li"><span class="fa fa-phone"></span> <a href="tel:+142 5897555">8921207450
								</a>
						</li>

					</ul>
<!--					<ul class="social-top col-sm-4">-->
<!--						<li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
<!--						<li><a href="#"><span class="fa fa-instagram"></span></a> </li>-->
<!--						<li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--						<li><a href="#"><span class="fa fa-vimeo"></span></a></li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-linkedin"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--					</ul>-->

				</div>
			</div>
		</div>
	</section>
	<!--//top-header-content-->
	<header class="w3l-header-nav">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
			<a href="../customers"><span class="fa fa-arrow-circle-left  btn btn-secondary "></span></a>
			<div class="container">
				<h1><a class="navbar-brand" >Clean<span>Freshly</span></a></h1>
				<!-- if logo is image enable this
						<a class="navbar-brand" href="#index">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<!-- <span class="navbar-toggler-icon"></span> -->
					<span class="fa icon-expand fa-bars"></span>
					<span class="fa icon-close fa-times"></span>
				</button>


			</div>
		</nav>
		<!--//nav-->
	</header>
	<!-- //w3l-header -->
	<!-- /breadcrumbs -->

<!------------------------------->



<!--	{% if messages %}-->
<!--<div class="container">-->
<!--<div class="alert alert-success alert-dismissible messages">-->
<!--    {% for message in messages %}-->
<!--    <button type="button" class="close" data-dismiss="alert">&times;</button>-->
<!--     {{message}}-->
<!--  </div>-->
<!--     {% endfor %}-->
<!--</div>-->
<!--{% endif %}<br><br><br><br>-->
<!--	<section class="w3l-bottom-grids-6">-->
<!--	<div class="review-box">-->
<!--		<form action="sendreviews" method="post">-->
<!--			 {% csrf_token %}-->
<!--			 {{ form.as_p }}-->
<!--			<div class="main">-->
<!--				<div class="form-group-w3l">-->
<!--                  <p>User Name</p>-->
<!--                  <input type="text" name="Last Name" value="{{user.user_name}}" placeholder="" required="">-->
<!--               </div>-->

<!--				<div class="form-group-w3l">-->
<!--                  <p>Email</p>-->
<!--                  <input type="Email" name="email" value="{{user.email}}" placeholder="" required="">-->
<!--               </div>-->
<!--            </div>-->

<!--			<div class="sub-hedder">-->
<!--                  <p>sevice_name</p>-->
<!--                  <input type="text" name="serv_name" value="{{user.s_name}}" placeholder="" required="">-->
<!--               </div>-->

<!--			<div class="sub-hedder">-->
<!--               <h2> Please rate my Website</h2>-->
<!--               <div class="form-check">-->
<!--                  <input class="form-check-input" type="radio" name="select5" value="Very Bad" checked="">-->
<!--                  <label class="form-check-label">-->
<!--                  Very Bad-->
<!--                  </label>-->
<!--               </div>-->
<!--               <div class="form-check">-->
<!--                  <input class="form-check-input" type="radio" name="select5" value="Bad" checked="">-->
<!--                  <label class="form-check-label">-->
<!--                  Bad-->
<!--                  </label>-->
<!--               </div>-->
<!--               <div class="form-check">-->
<!--                  <input class="form-check-input" type="radio" name="select5" value="Very Good" checked="">-->
<!--                  <label class="form-check-label">-->
<!--                  Very Good-->
<!--                  </label>-->
<!--               </div>-->
<!--               <div class="form-check">-->
<!--                  <input class="form-check-input" type="radio" name="select5" value="Good" checked="">-->
<!--                  <label class="form-check-label">-->
<!--                  Good-->
<!--                  </label>-->
<!--               </div>-->
<!--               <div class="form-check">-->
<!--                  <input class="form-check-input" type="radio" name="select5" value="Excellent" checked="">-->
<!--                  <label class="form-check-label">-->
<!--                  Excellent-->
<!--                  </label>-->
<!--               </div>-->
<!--            </div>-->
<!--            <div class="form-control-w3l">-->
<!--               <p>Any Message...</p>-->
<!--               <textarea name="Message" placeholder=""></textarea>-->
<!--            </div>-->
<!--            <button type="submit" id="submit" class="btn btn-primary">Submit</button>-->
<!--         </form>-->

<!--	</div>-->
<!--	</section><br><br><br>-->
<!--	----------------------------------------------------------------->
<br><br><br><br><br><br><br><br>
	<section class="w3l-bottom-grids-6">
	<div class="review-box">
		<label style="color:red">Very Bad:</label> <span class="count">{{ Vb }}|</span>
  <label style="color:orange">Bad:</label> <span class="count">{{ Bd }}|</span>
  <label style="color:#51843C">Good:</label> <span class="count">{{ Gd }}|</span>
  <label style="color:#6AC247">Very Good:</label> <span class="count">{{ Vg }}|</span>

  <label style="color:#4DFF07">Excellent:</label> <span class="count">{{ Ex }}</span>

</div>
		</section>

<!--	------------------------------------------------------------------->



<br><br><br><br>

<section class="w3l-bottom-grids-6">

<!--<a href="sendreviews" class="ml-lg-3 mt-lg-0 mt-3 btn btn-primary" >send reviews</a>-->


	{% for review in user1 %}
<div class="review-box">
    <div class="review-title">-{{ review.radio_c }}</div>
    <div class="review-content">
        <h3>{{ review.Message }}</h3></div>
        <div class="reviewer">-{{ review.user_name }}-{{ review.email }}</div>
            <div class="reviewer">-{{ review.s_name }}</div>


    </div>
</div>
{%endfor%}
	</section>



</body>

</html>

<script src="{% static 'assets/js/jquery-3.3.1.min.js'%}"></script>
<!-- disable body scroll which navbar is in active -->

<!--//-->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!--/scroll-down-JS-->
<!-- stats -->
<script src="{% static 'assets/js/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'assets/js/jquery.countup.js'%}"></script>
<script>
	$('.counter').countUp();
</script>
<!-- //stats -->
<!-- //script -->

<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>