<!doctype html>
<html lang="zxx">
{% load static %}

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Cleanfreshly a Home Maintenance & Service Category Bootstrap Responsive Web Template | Services :: W3layouts
	</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style-starter.css'%}">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,400i,500,600,700&display=swap"
		rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap" rel="stylesheet">

	<!-- Template CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/rstyle.css'%}">

<!--	----->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
			<script src="js/jquery.min.js"></script>
			<script>$(document).ready(function(c) {
			$('.alert-close').on('click', function(c){
				$('.main-agile').fadeOut('slow', function(c){
					$('.main-agile').remove();
				});
			});
		});
		</script>


	<link href="{% static 'assets/css/stylecustproview.css'%}" rel='stylesheet' type='text/css'/>
<link href="{% static 'assets/css/custproviewpopuo-box.css'%}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	<!--w3l-header-->
	<section class="w3l-top-header-content">
		<div class="hny-top-menu">
			<div class="container">
				<div class="row">
					<ul class="accounts col-sm-8">
						<li class="top_li"><span class="fa fa-clock-o"></span> <a href="#">Monday - Friday: 10:00 -
								18:00</a>
						</li>
						<li class="top_li mr-lg-0"><span class="fa fa-envelope-o"></span> <a
								href="mailto:mail@company.com" class="mail"> cleanfreshly10@gmail.com</a>

						</li>
						<li class="top_li"><span class="fa fa-phone"></span> <a href="tel:+142 5897555">8921207450
								</a>
						</li>

					</ul>
<!--					<ul class="social-top col-sm-4">-->
<!--						<li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
<!--						<li><a href="#"><span class="fa fa-instagram"></span></a> </li>-->
<!--						<li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--						<li><a href="#"><span class="fa fa-vimeo"></span></a></li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-linkedin"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--					</ul>-->

				</div>
			</div>
		</div>
	</section>
	<!--//top-header-content-->
	<header class="w3l-header-nav">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
<a href="../../View_profile"><span class="fa fa-arrow-circle-left  btn btn-secondary "></span></a>
			<div class="container">
				<h1><a class="navbar-brand" >Clean<span>Freshly</span></a></h1>
				<!-- if logo is image enable this
						<a class="navbar-brand" href="#index">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<!-- <span class="navbar-toggler-icon"></span> -->
					<span class="fa icon-expand fa-bars"></span>
					<span class="fa icon-close fa-times"></span>
				</button>


			</div>
		</nav>
		<!--//nav-->
	</header>

<!-----------------------------------	-->
<!--	{% if messages %}-->
<!--<div class="container">-->
<!--<div class="alert alert-success alert-dismissible messages">-->
<!--    {% for message in messages %}-->
<!--    <button type="button" class="close" data-dismiss="alert">&times;</button>-->
<!--     {{message}}-->
<!--  </div>-->
<!--     {% endfor %}-->
<!--</div>-->
<!--{% endif %}-->
<!--	-------------------->
	<div class="header">
</div>
<div class="w3-main">
	<!-- Main -->
	<div class="about-bottom main-agile book-form">

		<h2 class="tittle">updation</h2>
		<form action="{% url 'emp_profile_edit' d.id %}" method="POST" enctype="multipart/form-data" >
			{% csrf_token %}
			<div class="form-date-w3-agileits">
				<label> Name </label>
				<input type="text" name="name" value="{{d.name}}" placeholder="Your Name" required="">
                <label> job </label>
				<input type="text" name="job" value="{{d.job}}" placeholder="Your Name" required="">
				<label>image</label>
				<input type="file" name="image" value="{{d.image}}" placeholder="user_image" accept="images/*" style="padding: 8px 16px;border: 1px solid rgba(242,186,46,1); width: 93%;"><br><br>
				<label> Email </label>
				<input type="email" name="email" value="{{d.email}}" placeholder="Your Email" required="">
				<label> Mobile_Number </label>
				<input type="tel" name="number" value="{{d.number}}" placeholder="Your Mobile_number" pattern="[0-9]{10}" style="width: 100%;
  padding: 8px 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
line-height: 25px;
    padding: 8px 16px;
border: 1px solid rgba(242,186,46,1);
background: transparent;
color: #fff;
margin-bottom:1.8em;width: 93%;" required=""><br><br>
				<label> Address </label>
				<textarea  name="address"  placeholder="Your Address" rows="4" cols="40"  required="">{{d.address}}</textarea>
			</div>
			<div class="make wow shake">
				<input type="submit" id="submit" value="save data">
			</div>
		</form>
	</div>
	<!-- //Main -->

</div>
<!--	-------------------------------------->


</body>

</html>

<script src="{% static 'assets/js/jquery-3.3.1.min.js'%}"></script>
<!-- disable body scroll which navbar is in active -->
<div class="footer-w3l">
	<p>&copy; 2024. All rights reserved | Design by sachin James</p>
</div>
<!--//-->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!--/scroll-down-JS-->
<!-- stats -->
<script src="{% static 'assets/js/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'assets/js/jquery.countup.js'%}"></script>
<script>
	$('.counter').countUp();
</script>
<!-- //stats -->
<!-- //script -->

<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>