<!doctype html>
<html lang="zxx">
{% load static %}

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Cleanfreshly a Home Maintenance & Service Category Bootstrap Responsive Web Template | Services :: W3layouts
	</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style-starter.css'%}">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,400i,500,600,700&display=swap"
		rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->

</head>

<body>
<style>
  .dropdown-btn {
  background-color: #000000;
  color: #f7f1f1;
  padding: 10px;
  width: 320px;
  cursor: pointer;
  z-index: 10;
  overflow: hidden;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}

.dropdown-area {
  width: 320px;
  transform: translateY(-35px);
  opacity: 0;
  pointer-events: none;
  z-index: -1;

}

.dropdown-area ul {
  padding: 0;
  list-style: none;
}

.dropdown-area ul li {
  border-bottom: 1px solid #eee;
  padding: 10px;
  cursor: pointer;
  transition: .3s;
}

.dropdown-area ul li:nth-child(1) {
  background-color: #ebe6e6;
  margin-top: -20px;
  transition: .3s;
}

.dropdown-area ul li:nth-child(2) {
  background-color: #f5f1f1;
  margin-top: -40px;
  transition: .5s;
}

.dropdown-area ul li:nth-child(3) {
  background-color: #f7f2f2;
  margin-top: -40px;
  transition: .6s;
  color: #161515;
}

.dropdown-area ul li:nth-child(4) {
  background-color: #656565;
  margin-top: -40px;
  transition: .7s;
  color: #181818;
}

.dropdown-area ul li:nth-child(5) {
  background-color: #484848;
  margin-top: -40px;
  transition: .8s;
  color: #191818;
}


.activeDropArea {
  opacity: 1;
  pointer-events: all;
  transform: translateY(-15px);
}

.activeDropArea ul li:nth-child(1),.activeDropArea ul li:nth-child(2),.activeDropArea ul li:nth-child(3),.activeDropArea ul li:nth-child(4),.activeDropArea ul li:nth-child(5) {
  margin-top: 0;
}
  </style>
  	<script>let dropArea = document.getElementById('dropArea');
		function openDropdown() {
			console.log("Dropdown");
			dropArea.classList.toggle("activeDropArea");
		}</script>
	<script>
		function copyTextValue() {
			var e = document.getElementById("select");
			var val = e.options[e.selectedIndex].value;
			document.getElementById("1").value = val;
		}
	</script>
	<!--w3l-header-->
	<section class="w3l-top-header-content">
		<div class="hny-top-menu">
			<div class="container">
				<div class="row">
					<ul class="accounts col-sm-8">
						<li class="top_li"><span class="fa fa-clock-o"></span> <a href="#">Monday - Friday: 10:00 -
								18:00</a>
						</li>
						<li class="top_li mr-lg-0"><span class="fa fa-envelope-o"></span> <a
								href="mailto:mail@company.com" class="mail"> cleanfreshly10@gmail.com</a>

						</li>
						<li class="top_li"><span class="fa fa-phone"></span> <a href="tel:+142 5897555">8921207450
								</a>
						</li>

					</ul>
<!--					<ul class="social-top col-sm-4">-->
<!--						<li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
<!--						<li><a href="#"><span class="fa fa-instagram"></span></a> </li>-->
<!--						<li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--						<li><a href="#"><span class="fa fa-vimeo"></span></a></li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-linkedin"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--					</ul>-->

				</div>
			</div>
		</div>
	</section>
	<!--//top-header-content-->
	<header class="w3l-header-nav">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
			<a href="workers"><span class="fa fa-arrow-circle-left  btn btn-secondary "></span></a>
			<div class="container">
				<h1><a class="navbar-brand" >Clean<span>Freshly</span></a></h1>
				<!-- if logo is image enable this
						<a class="navbar-brand" href="#index">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<!-- <span class="navbar-toggler-icon"></span> -->
					<span class="fa icon-expand fa-bars"></span>
					<span class="fa icon-close fa-times"></span>
				</button>


			</div>
		</nav>
		<!--//nav-->
	</header>
	{% if messages %}
<div class="container">
<div class="alert alert-success alert-dismissible messages">
    {% for message in messages %}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
     {{message}}
  </div>
     {% endfor %}
</div>
{% endif %}
<!--	------------------------------------>

 {% if s %}
<form method="POST" action="../emp_status">
    {% csrf_token %}
	<label style="font-size:20px;">employee status: </label>
    <select name="status" style="margin-top: 14px;">
        <option value="Free" {% if s.status == "Free" %}selected{% endif %}>Free</option>
        <option value="In work" {% if s.status == "In work" %}selected{% endif %}>In work</option>
        <option value="Off duty" {% if s.status == "Off duty" %}selected{% endif %}>Off duty</option>
    </select>
    <button type="submit" class="fa fa-send-o" style="margin-top: 10px; margin-left: 16px;"></button>
</form>
{% endif%}
<!---------------------------------------------->
<div class="container" style="font-size: 15px; margin: 15px 0;">
	<table class="table table-stripped mt-5" border="2">
		<thead>
		<tr>
			<th>booking_date</th>
			<th>name</th>
        	<th>email</th>
        	<th colspan="4" style="text-align: center;">address</th>
        	<th>number</th>
			<th>service_name</th>
			<th>service_date</th>
			<th>service_price</th>
        	<th   style="text-align: center;">status</th>
    	</tr>
		</thead>
		<tbody>
		{% if s.status == 'Free' %}
		{% for i in da %}

		<tr>
			<td>{{i.created_at}}</td>
			<td>{{i.booked_name}}</td>
			<td>{{i.email}}</td>
        	<td>{{i.address}}</td>
			<td>{{i.state}}</td>
			<td>{{i.district}}</td>
			<td>{{i.pin_code}}</td>

        	<td>{{i.number}}</td>
			<td>{{i.b_s_name}}</td>
			<td>{{i.date}}</td>
			<td>{{i.b_s_price}}</td>



<!--		<td><button><a href="../book_accept/{{i.id}}">accept</a></button></td>-->
<!--        <td><button><a href="../a_book_cancel/{{i.pk}}">cancel</a></button></td>-->

				<td><form method="POST" action="../statusup2/{{i.booking_id}}">
							{% csrf_token %}
							<select name="status" style="margin-top: 14px;">
							  <option value="Pending" {% if i.status == "Pending" %}selected{% endif %}>Pending</option>
								<option value="Finished" {% if i.status == "Finished" %}selected{% endif %}>Finished</option>

							  <option value="Cancelled" {% if i.status == "Cancelled" %}selected{% endif %}>Cancelled</option>
							</select>
							<button type="submit" class="fa fa-send-o" style="margin-top: 10px; margin-left: 16px;"></button>
						  </form>
<!--				<button id="toggle-list-view-btn" onclick="toggleListView()">Toggle List View</button>-->
			</td>
<!--			<td><form method="POST" action="../emp_status/{{i.id}}">-->
<!--							{% csrf_token %}-->
<!--							<select name="status" style="margin-top: 14px;">-->
<!--							  <option value="Free" {% if i.workersstatus == "Free" %}selected{% endif %}>Free</option>-->
<!--							  <option value="In work" {% if i.workersstatus == "In work" %}selected{% endif %}>In work</option>-->
<!--								<option value="Off duty" {% if i.workersstatus == "Off duty" %}selected{% endif %}>Off duty</option>-->

<!--							</select>-->
<!--							<button type="submit" class="btn btn-success" style="margin-top: 10px; margin-left: 16px;">-></button>-->
<!--			</form></td>-->
		</tr>


		{% endfor %}
		{%endif%}
		</tbody>
	</table>
	</div>
<br><br>
<!---------------------------------------------------------------------->
<!--<table class="table table-stripped mt-5" border="2">-->
<!--		<thead>-->
<!--		<tr>-->
<!--			<th>booking id</th>-->
<!--			<th>booking Date</th>-->
<!--			<th>name</th>-->
<!--        	<th>email</th>-->
<!--        	<th>address</th>-->
<!--        	<th>number</th>-->
<!--			<th>service_name</th>-->
<!--			<th>service_date</th>-->
<!--			<th>service_price</th>-->
<!--        	<th   style="text-align: center;">status</th>-->


<!--    	</tr>-->
<!--		</thead>-->
<!--		<tbody>-->
<!--		{% for i in d %}-->
<!--		{% if i.orderdet.orderstatus != 'Delivered' %}-->
<!--		<tr>-->
<!--			<td>{{i.id}}</td>-->
<!--			<td>{{i.created_at}}</td>-->
<!--			<td>{{i.b_name}}</td>-->
<!--			<td>{{i.email}}</td>-->
<!--        	<td>{{i.address}}</td>-->
<!--        	<td>{{i.number}}</td>-->
<!--			<td>{{i.w.s_name}}</td>-->
<!--			<td>{{i.date}}</td>-->
<!--			<td>{{i.w.s_price}}</td>-->
<!--			<td><form method="POST" action="../statusup/{{i.id}}">-->
<!--							{% csrf_token %}-->
<!--							<select name="status" style="margin-top: 14px;">-->
<!--							  <option value="Pending" {% if i.status == "Pending" %}selected{% endif %}>Pending</option>-->
<!--							  <option value="Accepted" {% if i.status == "Accepted" %}selected{% endif %}>Accepted</option>-->
<!--								<option value="Finished" {% if i.status == "Finished" %}selected{% endif %}>Finished</option>-->

<!--							  <option value="Cancelled" {% if i.status == "Cancelled" %}selected{% endif %}>Cancelled</option>-->
<!--							</select>-->
<!--							<button type="submit" class="fa fa-send-o" style="margin-top: 10px; margin-left: 16px;"></button>-->
<!--						  </form>-->
<!--&lt;!&ndash;				<button id="toggle-list-view-btn" onclick="toggleListView()">Toggle List View</button>&ndash;&gt;-->
<!--			</td>-->




<!--<td>-->
<!--                <form method="POST" action="../send/{{ i.id }}/">-->
<!--                    {% csrf_token %}-->
<!--                    <input type="hidden" name="booking_id" value="{{ i.id }}">-->
<!--                    <input type="hidden" name="booking_date" value="{{ i.created_at }}">-->
<!--                    <input type="hidden" name="name" value="{{ i.b_name }}">-->
<!--                    <input type="hidden" name="email" value="{{ i.email }}">-->
<!--                    <input type="hidden" name="address" value="{{ i.address }}">-->
<!--                    <input type="hidden" name="number" value="{{ i.number }}">-->
<!--                    <input type="hidden" name="service_name" value="{{ i.w.s_name }}">-->
<!--                    <input type="hidden" name="service_date" value="{{ i.date }}">-->
<!--                    <input type="hidden" name="service_prsice" value="{{ i.w.s_price }}">-->
<!--                    <input type="hidden" name="status" value="{{ i.tatus }}">-->
<!--                    <button type="submit">send</button>-->
<!--                </form>-->
<!--            </td>-->



<!--		<td><button><a href="../book_accept/{{i.id}}">accept</a></button></td>-->
<!--        <td><button><a href="../a_book_cancel/{{i.pk}}">cancel</a></button></td>-->

<!--				<td><form method="POST" action="../statusup/{{i.id}}">-->
<!--							{% csrf_token %}-->
<!--							<select name="status" style="margin-top: 14px;">-->
<!--							  <option value="Pending" {% if i.status == "Pending" %}selected{% endif %}>Pending</option>-->
<!--							  <option value="Accepted" {% if i.status == "Accepted" %}selected{% endif %}>Accepted</option>-->
<!--								<option value="Finished" {% if i.status == "Finished" %}selected{% endif %}>Finished</option>-->

<!--							  <option value="Cancelled" {% if i.status == "Cancelled" %}selected{% endif %}>Cancelled</option>-->
<!--							</select>-->
<!--							<button type="submit" class="btn btn-success" style="margin-top: 10px; margin-left: 16px;">Completed</button>-->
<!--						  </form>-->
<!--&lt;!&ndash;				<button id="toggle-list-view-btn" onclick="toggleListView()">Toggle List View</button>&ndash;&gt;-->
<!--			</td>-->
<!--			<td><form method="POST" action="../emp_status/{{i.id}}">-->
<!--							{% csrf_token %}-->
<!--							<select name="status" style="margin-top: 14px;">-->
<!--							  <option value="Free" {% if i.status1 == "Free" %}selected{% endif %}>Free</option>-->
<!--							  <option value="In work" {% if i.status1 == "In work" %}selected{% endif %}>In work</option>-->

<!--&lt;!&ndash;							  <option value="Cancelled" {% if i.status == "Cancelled" %}selected{% endif %}>Cancelled</option>&ndash;&gt;-->
<!--							</select>-->
<!--							<button type="submit" class="btn btn-success" style="margin-top: 10px; margin-left: 16px;">Completed</button>-->
<!--						  </form>-->
<!--&lt;!&ndash;				<button id="toggle-list-view-btn" onclick="toggleListView()">Toggle List View</button>&ndash;&gt;-->
<!--			</td>-->
		</tr>
		{% endif %}

		{% endfor %}
		</tbody>
	</table>




<!---------------->

<!--------------------------------------------------->

</body>

</html>

<script src="{% static 'assets/js/jquery-3.3.1.min.js'%}"></script>
<!-- disable body scroll which navbar is in active -->

<!--//-->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!--/scroll-down-JS-->
<!-- stats -->
<script src="{% static 'assets/js/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'assets/js/jquery.countup.js'%}"></script>
<script>
	$('.counter').countUp();
</script>
<!-- //stats -->
<!-- //script -->

<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>