
<!doctype html>
<html lang="zxx">
{% load static %}

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Cleanfreshly a Home Maintenance & Service Category Bootstrap Responsive Web Template | Home :: W3layouts
	</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style-starter.css'%}">
	<link rel="stylesheet" href="{% static 'assets/css/admin1.css'%}">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,400i,500,600,700&display=swap"
		rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--w3l-header-->
	<section class="w3l-top-header-content">
		<div class="hny-top-menu">
			<div class="container">
				<div class="row">
					<ul class="accounts col-sm-8">
						<li class="top_li"><span class="fa fa-clock-o"></span> <a href="#">Monday - Friday: 10:00 -
								18:00</a>
						</li>
						<li class="top_li mr-lg-0"><span class="fa fa-envelope-o"></span> <a
								href="mailto:mail@company.com" class="mail"> cleanfreshly10@gmail.com</a>

						</li>
						<li class="top_li"><span class="fa fa-phone"></span> <a href="tel:+142 5897555">8921207450
								</a>
						</li>

					</ul>
<!--					<ul class="social-top col-sm-4">-->
<!--						<li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
<!--						<li><a href="#"><span class="fa fa-instagram"></span></a> </li>-->
<!--						<li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--						<li><a href="#"><span class="fa fa-vimeo"></span></a></li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<span class="fa fa-linkedin"></span>-->
<!--							</a>-->
<!--						</li>-->
<!--					</ul>-->

				</div>
			</div>
		</div>
	</section>
	<!--//top-header-content-->
	<header class="w3l-header-nav">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
			<div class="container">
				<h1><a class="navbar-brand">Clean<span>Freshly</span></a></h1>
				<!-- if logo is image enable this
						<a class="navbar-brand" href="#index">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<!-- <span class="navbar-toggler-icon"></span> -->
					<span class="fa icon-expand fa-bars"></span>
					<span class="fa icon-close fa-times"></span>
				</button>
<!------------------------------------------------------------------->

<!------------------------------------------->

				<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">profile
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
		<li><a href="View_profile">View profile</a></li>


	</ul></div>
				<div class="dropdown">

			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">work
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
		{% for i in da%}
		<li><a href="../conf_bookreq">view emp_work</a></li>
		{%endfor%}

	</ul>
				</div>
<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
    <span class="caret"></span></button>
    <ul class="dropdown-menu">

        <li><a href="emp_dele" onclick="return confirm('Are you sure you want to delete?')">account delete</a></li>

    </ul>

</div>
				<a href="../signout"  class="ml-lg-3 mt-0 btn btn-primary ">Logout</a>
		</nav>
		<!--//nav-->
	</header><br><br><br><br>
<!------------------------------------------------->

<!---------------------->
<section class="w3l-bottom-grids-6">

		<div class="container">
			<div class="grids-area-hny main-cont-wthree-fea row">
				{% for i in da %}

				<div class="col-lg-4 col-md-6 grids-feature">

					<div class="area-box">
						<img src="{{i.frimg.url}}" height="150" width="150">
						<h4><a  class="title-head">{{i.s_name}}</a></h4>

						<h5>{{i.content}}</h5>
						<h5>price : {{i.s_price}}₹</h5>
						<a href="emp_show_reviews" class="ml-lg-3 mt-lg-0 mt-3 btn btn-warning ">Reviews</a>



					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</section>

<br><br><br><br><br>




<!-------------------------------------------------
-->


	<!--//footer-66 -->

</body>
</html>